@import '../../variables/index.scss';

.company {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  display: flex;
  align-items: center;
  // align-items: baseline;
  gap: 21px;

  &__name {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: $textColor_1;
  }

  &__status {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 20px;

    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: $additionalPageColor;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: $contrasTextColor;
  }

  &_header {
    margin-left: 5px;
  }
}

@media screen and (max-width: $tablet) {
  .company {
    margin-bottom: 70px;
    margin-left: 0;
    &_header {
      margin-bottom: 70px;
    }
  }
}

@media screen and (max-width: $phone) {
  .company {
    margin-left: 0;
    gap: 10px;
    margin-bottom: 183px;
    &_header {
      margin-bottom: 58px;
    }
  }
}
