//Text colors
$textColor_1: white;
$textColor_2: #47474c;
$textColor_3: #8e8e98;
$contrasTextColor: black;
//page colors
$pageColor_1: black;
$pageColor_2: #1c1c1e;
$pageColor_3: #47474c;
$additionalPageColor: #25e197;
$additionalPageColor_2: #ffd233;
