@import '../../variables/index.scss';

$currentPadding: 60px;

.footer {
  margin: 0 auto;
  padding: $currentPadding;
  max-width: $desktop-content;
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  border-top: 2px solid #151515;
  &__copyright {
    font-size: 12px;
    line-height: 18px;
    color: $textColor_2;
    display: inline;
    position: absolute;
    bottom: $currentPadding;
    right: $currentPadding;
  }
}
@media screen and (max-width: $tablet) {
  .footer {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    max-width: $tablet-content;
    &__copyright {
      display: block;
      position: static;
      margin-top: 60px;
    }
  }
}

@media screen and (max-width: $phone) {
  .footer {
    max-width: $phone-content;
    padding: 0;
    padding-top: 29px;

    &__copyright {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}
